

.imagens-slider {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

.imagens-slider .slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.5s ease-out;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.imagens-slider .slider.mostrar {
  opacity: 1;
}

.slider-rosa {
  background-image: url(src/imagem\ \(2\).png);
}

.slider-verde {
  background-image: url(src/imagem\ \(1\).png)
}

.slider-vermelho {
  background-image: url(src/imagem\ \(0\).png)
}

.slider-laranja {
  background-image: url(src/imagem\ \(3\).png)
}

.seta-voltar,
.seta-avancar {
  position: absolute;
  z-index: 1;
}

.seta-voltar {
  left: 4%;
  transform: rotateY(180deg);
}

.seta-avancar {
  right: 4%;
}

.seta-voltar .imagem-seta,
.seta-avancar .imagem-seta {
  width: 50px;
  height: 50px;
}

.opacidade {
  opacity: 0.6;
  cursor: default;
}

.conteudo {
  display: block;
  background-color: #fff;
  margin-left: 180px;
  width: 620px;
  height: 600px;
  border-radius: 10px;
}

.conteudo .titulo {
  margin-bottom: 80px;
  font-size: 5rem;
  font-weight: 400;
}

.conteudo .texto {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 50px;
}

.conteudo .botao {
  font-size: 3rem;
  font-weight: 700;
}


.botao .rosa  {
  color: #ff6fff;
}

.botao .verde  {
  color: rgba(44, 253, 44, 0.133);
}

.botao .vermelho  {
  color: #ca3d3d;
}

.botao .laranja  {
  color: #ca6f25;
}
